{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <!-- css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="{%static 'app/css/style.css'%}" rel="stylesheet"/>
        <link href="{%static 'app/css/owl.carousel.min.css'%}" rel="stylesheet"/>
        <link href="{%static 'app/css/all.min.css'%}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link  rel="stylesheet" type="text/css" href="{%static 'app/css/main.css'%}"/>
        <!-- js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <script src="{%static 'app/js/all.min.js'%}"></script>
        <script src="{%static 'app/js/myscript.js'%}"></script>
        <script type="text/javascript">
          var user = '{{request.user}}'
          function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        
        
        </script>

        <title>Home</title>
        <meta name="descrption" content="">
        <meta name="viewport" content="width=device-with, initial-scale=1.0">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--Header-->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{%static 'app/images/hidu 1.png'%}" width="150" height="50"/>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Trang chủ</a>
                  </li>
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sản phẩm
                    </a>
                    <ul class="dropdown-menu">
                      {% for i in categories %}
                        <li><a class="dropdown-item" href="{% url 'category' %}?category={{i.slug}}">{{i.name}}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart' %}">Cart</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                  </li>
                </ul>
                <form class="d-flex" role="search" method = POST action = "{% url 'search' %}">
                  {% csrf_token %}
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
                  <button class="btn btn-outline-success" type="submit" style="margin-right:2vh;">Search</button>
                </form>
              </div>
              
              {% if request.user.is_authenticated %}
                <div class="form-inline my-2 my-lg-0" style="text-align: right;">
                  <span>Hello {{ request.user.username }}!</span>
                  <span style="margin-left:2vh;"><a href="{% url 'logout' %}">Logout</a></span>
                </div>
              {% else %}
                <div class="form-inline my-2 my-lg-0">
                  <a class="nav-link" href="{% url 'login' %}">Đăng nhập</a>
                  <a class="nav-link" href="{% url 'register' %}">Đăng ký</a> 
                </div>
              {% endif %}
              
              <div class='form-inline my-2 my-lg-0'>
                <a href="{% url 'cart' %}"><img id="cart-icon" src="{% static 'images/cart.png' %}"></a>
                <p id="cart-total" style="background-color:black;">{{cartItems}}<p>
              </div>
            </div>
          </nav>

          <!--mainbody-->
          {% block banner_slider %}{% endblock banner_slider %} 
          {% block main-content %}{% endblock main-content %}
          <!--cart-->
          {% block cart_content %}{% endblock cart_content %}
          {% block content_checkout %}{% endblock content_checkout %}
          {% block register %}{% endblock register %}
          {% block login %}{% endblock login %}
          {% block detail %}{% endblock detail %}



          <!--Footer-->
          
<style>
  footer {
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url('/public/template/images/footer_bg.jpg');
    color: white;
      
  }
  footer img {
      max-width: 100%;
  }
  footer h4 {
      font-size: 18px;
      margin-top: 40px;
      color: #f2931f;
      margin-bottom: 30px;
      font-weight: bold;
  }
  footer p {
      margin: 5px 0;
      font-size: 16px;
      color: #e3e0e0;
  }
  .dia_chi_lien_he {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
  }
  .lien_he {
      text-align: center;
      margin-bottom: 10px;
      padding-bottom: 5px;
  }
  .lien_he img {
      max-width: 50px;
      margin-bottom: 5px;
  }
  .lien_he p {
      margin-bottom: 5px;
  }
  .lien_he a {
      color: #f2931f;
      text-decoration: none;
  }
  li a:hover {
      text-decoration: underline;
  }



  .footer-1 {
      background: url(https://www.pizzaexpress.vn/wp-admin/admin-ajax.php?action=kc_get_thumbn&type=filter_url&id=%2Fwp-content%2Fuploads%2F2018%2F05%2Ffooter_top_bg.png) top center/cover no-repeat;
      padding: 50px 0;
      margin-top: 10vh;
  }
  
  .grid {
      max-width: 1300px;
      margin: 0 auto;
      width: 100%;
  }
  
  .wrap-column {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
  }
  
  .footer__rate {
      flex: 1 1 calc(25% - 30px);
      box-sizing: border-box;
  }
  
  .footer__rate-container {
      text-align: center;
  }
  
  .footer__rate-img img {
      width: 25%;
      height: auto;
      margin-bottom: 30px;
  }
  
  .footer__rate-title h4 {
      color: #f2931f;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0 0 20px;
      font-size: 18px;
  }
  
  .footer__rate-text p {
      font-size: 16px;
      font-style: italic;
      line-height: 1.5rem;
      margin: 0;
      max-width: 350px;
  }
  
  a {
      text-decoration: none;
      color: var(--black-color);
  }
      
</style>

<div class="footer-1">
  <div class="grid">
      <div class="wrap-column">
          <div class="footer__rate">
              <div class="footer__rate-container">
                  <div class="footer__rate-img">
                      <img src="{%static 'app/images/footer_01.png' %}" alt="Chất Lượng Hàng Đầu">
                  </div>
                  <div class="footer__rate-title">
                      <h4>CHẤT LƯỢNG HÀNG ĐẦU</h4>
                  </div>
                  <div class="footer__rate-text">
                      <p>Chú trọng khâu tuyển chọn đội ngũ đầu bếp chuyên nghiệp, thực đơn của Hidu House luôn được đổi mới, đa dạng với pizza nhiều hương vị, sandwich, mỳ ý và các món ăn nhanh khác.</p>
                  </div>
              </div>
          </div>

          <div class="footer__rate">
              <div class="footer__rate-container">
                  <div class="footer__rate-img">
                      <img src="{%static 'app/images/footer_02.png' %}" alt="Giao Hàng Đúng Giờ">
                  </div>
                  <div class="footer__rate-title">
                      <h4>GIAO HÀNG ĐÚNG GIỜ</h4>
                  </div>
                  <div class="footer__rate-text">
                      <p>Để tăng cường sự tin tưởng và yên tâm với khách hàng, Hidu House cam kết luôn giao hàng đúng giờ và chi phí giao hàng rẻ nhất để đảm bảo khách hàng có thể nhận bánh trong thời gian nhanh nhất.</p>
                  </div>
              </div>
          </div>

          <div class="footer__rate">
              <div class="footer__rate-container">
                  <div class="footer__rate-img">
                      <img src="{%static 'app/images/footer_03.png' %}" alt="Pizza Take Away">
                  </div>
                  <div class="footer__rate-title">
                      <h4>PIZZA TAKE AWAY</h4>
                  </div>
                  <div class="footer__rate-text">
                      <p>Lựa chọn cho mình một hướng đi mới để tạo nên sự khác biệt, mô hình Pizza take away - pizza mang đi giúp khách hàng tiết kiệm thời gian, đem đến sự tiện lợi tối ưu trong việc lựa chọn, thanh toán, đóng gói và nhận hàng.</p>
                  </div>
              </div>
          </div>

          <div class="footer__rate">
              <div class="footer__rate-container">
                  <div class="footer__rate-img">
                      <img src="{%static 'app/images/footer_04.png' %}" alt="Phục Vụ Chuyên Nghiệp">
                  </div>
                  <div class="footer__rate-title">
                      <h4>PHỤC VỤ CHUYÊN NGHIỆP</h4>
                  </div>
                  <div class="footer__rate-text">
                      <p>Hidu House cùng với đội ngũ nhân viên mang đầy sức trẻ và nhiệt huyết, chúng tôi luôn mong muốn đem lại cho khách hàng của mình chất lượng dịch vụ tốt nhất, luôn lắng nghe và chăm sóc những nhu cầu dù là nhỏ nhất của Quý khách.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<footer style="background-image:url('{%static 'app/images/footer_bg.jpg' %}')">
      <img style="width:15%;" src="{%static 'app/images/hidu 1.png' %}" alt="">
      <h4>CÔNG TY TNHH PIZZA HUT VIỆT NAM</h4>
      <p>Để đặt bánh pizza, vui lòng liên hệ tổng đài số: 0356424966</p>
      <p>Để phản ánh chất lượng dịch vụ, vui lòng gọi số: 113</p>
      <p>Email: pizzahut@gmail.com</p>
      <p>Chính sách bảo mật thông tin cá nhân</p>
      <p>Chính sách đổi/trả sản phẩm và hoàn tiền</p>
      <p>Chính sách thanh toán</p>
      <!-- <img src="images/footer_line.png" alt=""> -->
      <div class="dia_chi_lien_he">
          <div class="lien_he">
              <img src="{%static 'app/images/so_01.png' %}" alt="">
              <p>Thường Tín, Hà Nội</p>
              <a href="/contact">Xem trên bản đồ</a>
          </div>
          <div class="lien_he">
              <img src="{%static 'app/images/so_02.png' %}" alt="">
              <p>Ngõ 218, Lĩnh Nam, Hoàng Mai</p>
              <a href="/contact">Xem trên bản đồ</a>
          </div>
          <div class="lien_he">
              <img src="{%static 'app/images/so_03.png' %}" alt="">
              <p>Vincom Bà Triệu</p>
              <a href="/contact">Xem trên bản đồ</a>
          </div>
          <div class="lien_he">
              <img src="{%static 'app/images/so_04.png' %}" alt="">
              <p>Time City</p>
              <a href="/contact">Xem trên bản đồ</a>
          </div>
      </div>
      <img src="{%static 'app/images/dathongbao.png' %}" alt="" style="margin-top: 20px; margin-bottom: 20px;">
      <p>Công ty TNHH Pizza HUT Việt Nam Số ĐKKD: 8386</p>
      <p>Địa Chỉ: Thường Tín, Hà Nội</p>
      <p>Số điện thoại: 012345678</p>
      <p style="padding-bottom: 50px;">Email: pizzahut@gmail.com</p>
  </footer>
          <script src="{%static 'app/js/cart.js'%}"></script>
    </body>
</html>
